{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Credentials -->
    <section class="credential-area">
        <div class="container">
            <div class="gx-row d-flex">
                <div class="credential-sidebar-wrap" data-aos="zoom-in">
                    <div class="credential-sidebar text-center">
                        {% for i in about %}
                            <div class="shadow-box">
                                <img src="{% static 'assets/images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="img-box">
                                    <img src="{{ i.image.url }}" alt="About Me">
                                </div>
                                <h2>{{ i.full_name }}</h2>
                                <p>@{{ i.username }}</p>

                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="{{ i.github }}" target="_blank"><i class="iconoir-github"></i></a></li>
                                    <li><a href="{{ i.linkedin }}" target="_blank"><i class="iconoir-linkedin"></i></a>
                                    </li>
                                    <li><a href="{{ i.instagram }}" target="_blank"><i
                                            class="iconoir-instagram"></i></a></li>
                                    <li><a href="{{ i.twitter }}" target="_blank"><i class="iconoir-twitter"></i></a>
                                    </li>
                                </ul>

                                <a href="/contact/" class="theme-btn">Contact Me</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="credential-content flex-1">
                    <div class="credential-about" data-aos="zoom-in">
                        <h2>About Me</h2>
                        {% for i in about %}
                            <p>{{ i.description }}</p>
                        {% endfor %}
                    </div>

                    <div class="credential-edc-exp credential-experience">
                        <h2 data-aos="fade-up">Experience</h2>
                        {% for i in experience %}
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>{{ i.year }}</h4>
                                <h3>{{ i.title }}</h3>
                                <h5>{{ i.job }}</h5>
                                <p>{{ i.description }}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="credential-edc-exp credential-education">
                        <h2 data-aos="fade-up">Education</h2>
                        {% for i in education %}
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>{{ i.year }}</h4>
                                <h3>{{ i.title }}</h3>
                                <h5>{{ i.address }}</h5>
                                <p>{{ i.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}