{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Service -->
    <section class="service-area">
        <div class="container">
            <h1 class="section-heading" data-aos="fade-up"><img src="{% static 'assets/images/star-2.png' %}" alt="Star"> My Offerings
                <img src="{% static 'assets/images/star-2.png' %}" alt="Star"></h1>

            <div class="row">

                <!-- Sidebar -->
                <div class="col-md-4">
                    <div class="service-sidebar" data-aos="fade-right">
                        <div class="service-sidebar-inner shadow-box">
                            <ul>
                                <li>
                                    <i class="iconoir-telegram icon"></i>
                                    TELEGRAM BOT
                                </li>
                                <li>
                                    <i class="iconoir-window-tabs icon"></i>
                                    WEB SITE
                                </li>
                                <li>
                                    <i class="iconoir-app-notification icon"></i>
                                    MOBIL APP
                                </li>
                                <li>
                                    <i class="iconoir-calendar-rotate icon"></i>
                                    DEVELOPMENT
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <div class="col-md-8">
                    <h1 class="section-heading" data-aos="fade-up"><img src="{% static 'assets/images/star-2.png' %}" alt="Star"> My
                        Offerings <img src="{% static 'assets/images/star-2.png' %}" alt="Star"></h1>

                    <div class="service-content-wrap" data-aos="zoom-in">
                        <div class="service-content-inner shadow-box">
                            <div class="service-items">
                                {% for i in services %}
                                <div class="service-item">
                                    <h3>{{ i.title }}</h3>
                                    <p>{{ i.description}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-24">
                <div class="col-md-12">
                    <div class="d-flex profile-contact-credentials-wrap gap-24">

                        <div data-aos="zoom-in">
                            <div class="about-profile-box info-box shadow-box h-full">
                                <img src="{% static 'assets/images/bg1.png' %}" alt="BG" class="bg-img">
                                <div class="inner-profile-icons shadow-box">
                                    <a href="https://github.com/isroilovrustam">
                                        <i class="iconoir-github"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/rustamjon-isroilov-9a5876246/">
                                        <i class="iconoir-linkedin"></i>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>Stay with me</h4>
                                        <h1>Profiles</h1>
                                    </div>

                                    <a href="/contact/" class="about-btn">
                                        <img src="{% static 'assets/images/icon.svg' %}" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div data-aos="zoom-in" class="flex-1">
                            <div class="about-contact-box info-box shadow-box">
                                <a class="overlay-link" href="/contact/"></a>
                                <img src="{% static 'assets/images/bg1.png' %}" alt="BG" class="bg-img">
                                <img src="{% static 'assets/images/icon2.png' %}" alt="Icon" class="star-icon">
                                <h1>Let's <br>work <span>together.</span></h1>
                                <a href="/contact/" class="about-btn">
                                    <img src="{% static 'assets/images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>

                        <div data-aos="zoom-in" class="h-full">
                            <div class="about-crenditials-box info-box shadow-box">
                                <a class="overlay-link" href="/credential/"></a>
                                <img src="{% static 'assets/images/bg1.png' %}" alt="BG" class="bg-img">
                                <img src="{% static 'assets/images/sign.png' %}" alt="Sign">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>more about me</h4>
                                        <h1>Credentials</h1>
                                    </div>

                                    <a href="/credential/" class="about-btn">
                                        <img src="{% static 'assets/images/icon.svg' %}" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}