{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- About -->
    <section class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="zoom-in">
                    <div class="about-me-box shadow-box">
                        {% for i in about %}
                            <a class="overlay-link" href="/about/"></a>
                            <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                            <div class="img-box">
                                <img src="{{ i.image.url }}" alt="About Me">
                            </div>
                            <div class=" infos">
                                <h4>Python Developer</h4>
                                <h1>{{ i.full_name}}</h1>
                                <a href="#" class="about-btn">
                                    <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class=" col-md-6">
                    <div class="about-credentials-wrap">
                        <div data-aos="zoom-in">
                            <div class="banner shadow-box">
                                <div class="marquee">
                                    <div>
                                        <span>PYTHON <b>DEVELOPER</b> <img
                                                src="{% static "assets/images/star1.svg" %}"
                                                alt=" Star"> ONLINE <b>MENTOR</b> <img
                                                src="{% static "assets/images/star1.svg" %}"
                                                alt=" Star"> TELEGRAM <b>BOT</b> <img
                                                src="{% static "assets/images/star1.svg" %}"
                                                alt=" Star"> WEB <b>SITE</b> <img
                                                src="{% static "assets/images/star1.svg" %}"
                                                alt=" Star"> PYTHON <b>BACKEND</b> <img
                                                src="{% static "assets/images/star1.svg" %}" alt="Star"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class=" gx-row d-flex gap-24">
                            <div data-aos="zoom-in">
                                <div class="about-crenditials-box info-box shadow-box h-full">
                                    <a class="overlay-link" href="credential/"></a>
                                    <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                    <img src="{% static "assets/images/sign.png" %}" alt="Sign">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>more about me</h4>
                                            <h1>Credentials</h1>
                                        </div>

                                        <a href="/credential/" class="about-btn">
                                            <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div data-aos=" zoom-in">
                                <div class="about-project-box info-box shadow-box h-full">
                                    <a class="overlay-link" href="/work/"></a>
                                    <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                    <img src="{% static "assets/images/my-works.png" %}" alt="My Works">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>SHOWCASE</h4>
                                            <h1>Projects</h1>
                                        </div>

                                        <a href="#" class="about-btn">
                                            <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class=" row mt-24">
                <div class="col-md-12">
                    <div class="blog-service-profile-wrap d-flex gap-24">
                        <div data-aos="zoom-in">
                            <div class="about-blog-box info-box shadow-box h-full">
                                <a href="../blog/blog.html" class="overlay-link"></a>
                                <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                <img src="{% static "assets/images/gfonts.png" %}" alt="GFonts">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>Blog</h4>
                                        <h1>GFonts</h1>
                                    </div>

                                    <a href="../blog/blog.html" class="about-btn">
                                        <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div data-aos=" zoom-in" class="flex-1">
                            <div class="about-services-box info-box shadow-box h-full">
                                <a href="/service/" class="overlay-link"></a>
                                <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                <div class=" icon-boxes">
                                    <i class="iconoir-telegram"></i>
                                    <i class="iconoir-window-tabs"></i>
                                    <i class="iconoir-app-notification"></i>
                                    <i class="iconoir-calendar-rotate"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>specialization</h4>
                                        <h1>Services Offering</h1>
                                    </div>

                                    <a href="work/service/" class="about-btn">
                                        <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div data-aos=" zoom-in">
                            <div class="about-profile-box info-box shadow-box h-full">
                                <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                <div class=" inner-profile-icons shadow-box">
                                    {% for i in about %}
                                    <a href="{{ i.instagram }}" target="_blank">
                                        <i class="iconoir-instagram"></i>
                                    </a>
                                    <a href="{{ i.telegram }}" target="_blank">
                                        <i class="iconoir-telegram"></i>
                                    </a>
                                    {% endfor %}
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="infos">
                                        <h4>Stay with me</h4>
                                        <h1>Profiles</h1>
                                    </div>

                                    <a href="/contact/" class="about-btn">
                                        <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class=" row mt-24">
                <div class="col-md-6" data-aos="zoom-in">

                    <div class="about-client-box info-box shadow-box">
                        <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                        <div class=" clients d-flex align-items-start gap-24 justify-content-center">
                            <div class="client-item">
                                <h1>07</h1>
                                <p>Years <br>Experience</p>
                            </div>

                            <div class="client-item">
                                <h1>+125</h1>
                                <p>CLIENTS <br>WORLDWIDE</p>
                            </div>

                            <div class="client-item">
                                <h1>+210</h1>
                                <p>Total <br>Projects</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6" data-aos="zoom-in">

                    <div class="about-contact-box info-box shadow-box">
                        <a class="overlay-link" href="/contact/"></a>
                        <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                        <img src="{% static "assets/images/icon2.png" %}" alt="Icon" class="star-icon">
                        <h1>Let's <br>work <span>together.</span></h1>
                        <a href="#" class="about-btn">
                            <img src="{% static "assets/images/icon.svg" %}" alt="Button">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}